<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Magics</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%- @jobs.each do |job| -%>
  <tr>
    <td><%= link_to job.title, job_path(job) %></td>
    <td><%= job.magics.empty? ? '-' : job.magics.map{|magic| link_to magic.name, magic}.join('<br>').html_safe %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%- end -%>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
